/* Colors */
$color-primary: #9356DC;
$color-primary-light: #FFFFFF;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-tertiary-strong: #008766;

/* Background colors */
$bg-gray: #353535;
$bg-gray-medium: #EAEAEA;
$bg-gray-light: #F6F6F6;
$bg-white: #FFFFFF;

/* Font size */
$font-size : 16px
$font-size-title