*{
    font-family: 'Roboto';
    font-size: $font-size;
    
}

h1 h2 {
    font-size: $font-size-title;
    font-weight: 700;
}

body {
    background: $bg-white ;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    
}


ul {
    list-style-type: none;
    padding: 0;
}

.card, .steps__items, .meal {
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.2);
}

.subtitle {
    text-transform: uppercase;
    font-weight: 300;
    margin: 40px 0px 12px 13px;
}