.steps {
    margin: 40px 20px 70px;
    

    &__cards {
        padding: 0px;
        cursor: pointer;
    }

    &__items {
        width: 92%;
        padding: 13px;
        margin: 24px auto;
        border-radius: 20px;
        background-color: #f6f6f6;
        display: flex;
        align-items: center;
        
    }

    &__circle {
        background: $color-primary;
        color: $color-primary-light;
        border-radius: 50%;
        width: 23px;
        padding: 3px;
        display: flex;
        justify-content: center;
        position: absolute;
        left: 2%;
    }

    &__icon {
        margin: 0px 27px 0px 21px;
        font-size: 20px;
    }
}

.resto {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $bg-gray-light;
    

    h2 {
        margin: 42px 0px 16px;
    }
    
    &__cards {
        display: flex;
        flex-direction: column;
       
    }

    .card {
        background: $bg-white;
        border-radius: 15px;
        margin-bottom: 18px;

        &__photo {
            width: 100%;
            height: 230px;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        
        &__text {
            height: 77px;
        }
    }
}