.header {
    width: 100%;
    padding: 9px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;

    &__logo {
        width: 162px;
        height: 44px;
        position: static;
    }

    &__back {
        

        .back  {
            font-size: 18px;
            position: absolute;
            left: 23px;
            bottom: 18px;
            color: $color-gray;
            
        }
    }
 }