.header {
    width: 100%;
    margin: 6px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;

    &__logo {
        width: 162px;
        height: 44px;
        position: static;
    }

    &__back {
        position: absolute;
        top: 25%;
        left: 6%;

        .back i {
            font-size: 20px;
        }
    }
 }