main .location {
    width: 100%;
    display: flex;
    justify-content: center;
    background: $bg-gray-medium;
    color: $bg-gray;
    font-weight: 500;
    // border-top: 2px solid $bg-gray;
    
    

    &__item {
        margin: auto 17px;
    }

    &__text {
        font-weight: 500;
    }

}

.reservation {
    width: 100%;
    background: $bg-gray-light;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__title {
        width: 83%;
        margin: 40px auto 0px;
    }
}