body {
    .banner {
        width: 100%;
        height: 300px;
        object-fit: cover;

        @media screen and (min-width:768px) {
            height: 400px;
        }

        @media screen and (min-width:1440px) {
            height: 400px;
        }

    }
}

section.loader {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    animation: loader 3s ease-in-out;
    opacity: 0;

    .loader {
        &__container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__circle {
            position: relative;

            &::after {
                content: '';
                width: 50px;
                height: 50px;
                border-radius: 50px;
                position: absolute;
                top: 24rem;
                left: -2rem;
                border: 6px solid #9d9595;
                border-top-color: $color-primary;
                animation: spin 1s linear infinite;


            }
        }

    }
}

.main {
    width: 100%;
    height: auto;
    background-color: $bg-gray-light;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    top: -73px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto -73px;



    .menu {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__content {
            width: 98%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 20px 0px;
        }

        &__top {
            padding: 32px 17px 0px 17px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .menu-title {
                font-family: 'Shrikhand';
                font-size: 28px;
                font-weight: 400;
                font-style: italic;
                margin: 0;
            }
        }

        .subtitle {

            width: 40px;
            height: 3px;
            background-color: $color-tertiary;
            display: flex;
            align-items: flex-end;

        }

        .menu-cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            .meal {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $bg-white;
                padding: 13px;
                border-radius: 15px;
                width: 100%;
                box-sizing: border-box;
                cursor: pointer;
                overflow: hidden;
                position: relative;
                animation: slideUp 1s both;



                &:hover {
                    .meal__check {
                        transform: translate(0px, 0px);
                        -webkit-transform: translate(0px, 0px);


                    }

                    .meal__content {
                        width: 70%;
                    }

                    .euro {
                        transform: translateX(-65px);
                        -webkit-transform: translateX(-65px);

                    }

                    .item-check {
                        transform: rotate(360deg);
                        -webkit-transform: rotate(360deg);



                    }
                }

                &__check {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 65px;
                    padding: 23px 0px;
                    border-radius: 0px 15px 15px 0px;
                    background-color: #99e2d0;
                    position: absolute;
                    right: 0;
                    transition: transform .4s ease-in-out;
                    transform: translate(66px, 0px);
                    -webkit-transform: translate(66px, 0px);

                    .item-check {
                        color: $bg-white;
                        font-size: 20px;
                        transition: transform 1s ease-in-out;
                        -webkit-transition: transform 0.5s ease-in-out;

                    }
                }




                &__content {


                    h3 {
                        margin: 0;
                        font-size: 18px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                    p {
                        margin: 0;
                        font-size: 15px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }

                .euro {
                    display: flex;
                    align-items: flex-end;
                    margin: 0;
                    font-weight: 700;
                    transition: transform .4s ease-in-out;
                    padding-top: 20px;

                    p {
                        margin: 0;
                    }
                }
            }


        }
    }

    @media screen and (min-width:768px) {
        width: 80%;

        .menu {
            width: 74%;

            &__top {
                text-align: center;
                gap: 24px;
                justify-content: center;
            }

        }

        .meal {
            &:hover {

                .meal__content{
                    width: 100%;
                }
              }
        }
    }

    @media screen and (min-width:1024px) {
        width: 80%;

        .menu {
            width: 74%;

            &__cards {
                align-items: flex-start;
            }

        }
    }

}