section.loader {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    animation: loader 3s ease-in-out;
    opacity: 0;

    .loader {
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
        position: relative;

        &__circle {

            &::after {
                content: '';
                width: 50px;
                height: 50px;
                border-radius: 50px;
                position: absolute;
                top: 184px;
                left: 150px;
                bottom: -6px;
                right: -6px;
                border: 6px solid #9d9595;
                border-top-color: $color-primary;
                animation: spin 1s linear infinite;


            }
        }

    }
}

.main {
    width: 100%;
    height: auto;
    background-color: $bg-gray-light;

    &__banner {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }

    .menu {
        width: 100%;
        background-color: $bg-gray-light;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        position: relative;
        top: -61px;

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 32px 17px 0px 17px;

            .menu-title {
                font-family: 'Shrikhand';
                font-size: 28px;
                font-weight: 400;
                font-style: italic;
                margin: 0;
            }
        }

        .subtitle {

            width: 40px;
            height: 3px;
            background-color: $color-tertiary;
            display: flex;
            align-items: flex-end;

        }

        .menu-cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            .meal {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $bg-white;
                padding: 13px;
                border-radius: 15px;
                width: 93%;
                box-sizing: border-box;
                cursor: pointer;
                overflow: hidden;
                position: relative;
                animation: slideUp 1s both;



                &:hover {
                    .meal__check {
                        transform: translate(0px, 0px);
                        -webkit-transform: translate(0px, 0px);

                    }


                    .euro {
                        transform: translateX(-65px);
                        -webkit-transform: translateX(-65px);

                    }

                    .item-check {
                        transform: rotate(360deg);
                        -webkit-transform: rotate(360deg);
                        


                    }
                }

                &__check {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 65px;
                    padding: 23px 0px;
                    border-radius: 0px 15px 15px 0px;
                    background-color: #99e2d0;
                    position: absolute;
                    right: 0;
                    transition: transform .4s ease-in-out;
                    transform: translate(66px, 0px);
                    -webkit-transform: translate(66px, 0px);

                    .item-check {
                        color: $bg-white;
                        font-size: 20px;
                        transition: transform 1s ease-in-out;
                        -webkit-transition: transform 0.5s ease-in-out;
                       
                    }
                }




                &__content {
                    h3 {
                        margin: 0;
                        font-size: 18px;
                    }

                    p {
                        margin: 0;
                        font-size: 15px;
                    }
                }

                .euro {
                    display: flex;
                    align-items: flex-end;
                    margin: 0;
                    font-weight: 700;
                    transition: transform .4s ease-in-out;
                    padding-top: 20px;

                    p {
                        margin: 0;
                    }
                }
            }


        }
    }
}